/***    General     ***/

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  
}
h2{
  
    position: relative;
    left: 60px;
    top: 20px;
    font-weight: bold;
    font-size: 30px;
    font-family: fantasy;
}

.sign-up h2{
  position: relative;
  left: 80px;
  top: 20px;
}

.pillow{
     border-radius: 500px;
    height: auto; 
    width: auto; 
    max-width: 115px; 
    max-height: 115px;
    object-position: center top;
    position: relative;
    left: 64px;
    top: 200px;
    opacity: 0.8;
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif
}

body {
  /* margin: 0 auto */
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

/* .m-5-auto {
  margin: 5rem auto
} */

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: .6rem;
  width: 10rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all .5s;
  cursor: pointer;
  text-transform: capitalize
}

/***    Landing Page     ***/
.main-title,
.main-para {
  color: #f1f1f1
}

.main-title {
  padding-top: 10rem;
  font-size: 5rem;
  font-family: 'Fascinate', cursive;
  text-transform: uppercase
}

.main-para {
  font-size: 2.5rem;
  text-Transform: capitalize
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
padding-right: 25px;
}

#reg_btn:hover span:after {
opacity: 1;
right: 0;
}

/***    Login Page     ***/
h2 {
  font-weight: 300
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid black;
  border-radius: 25px;
  padding: 2rem;
  margin: 2rem 0 1rem 0;
  height: 600px;
}

.container form{
  height: 100%;
}


form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.right-label {
  float: right;
  cursor: pointer;
  left: -150px;
  position: relative;
 
  top: 200px;
}

input {
  width: 15rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

#sub_btn {
  display: block;
  width: 100%;
  font-size: 25px;
  padding: .3rem;
  border: none;
  background: pink;
  color: #fff;
  border-radius: 25px;
  position: relative;
  left: -5px;
  top: 215px;
}

#sub_btn:hover {
  background: #333;
  transition: all .5s
}

footer p {
  margin: 0;
  font-size: .9rem
}

/***    Register Page     ***/
#checkbox {
  width: 1rem
}

form span {
  font-size: .8rem
}

#reset_pass_lbl {
  float: left
}

/***    Home Page     ***/
.home-page-title {
  color: #222
}

.icon-container {
  width: 100px;
  height: 100px;
  position: relative;
  left: -5px;
  top: 250px;
  
}

.user-container {
  position: relative;
  left: -5px;
  top: 185px;
  
  
}







.user-container input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.pass-container{
  position: relative;
  left: -5px;
  top: 200px;
}

.pass-container input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* .searchbar-header{
  width:100%;
	height:40px;
	background-color:pink;
  
 
}

#search{
    margin: 0 auto;
    display: block;
    height: 40px;
    width: 30%;
    border-radius: 25px;
    background-color:pink;
    border-width:2px;
    border-style:solid;
    border-color: rgb(227, 115, 131)
    
} */

input[type="search"]::placeholder {
  text-align: center;
 
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:pink;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: black;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  
 
}


.search {
  margin-right:auto;
  margin-left:auto;
  width:50%; /* Set this property to whatever you like */
  border: 5px solid black;
  border-radius: 35px;
  top: 300px;
  left: 0%;
  position: relative;
  
  
  
}

.icon{
  font-size: 30px;
  position: relative;
  left:320px; 
  top: 70px;

}

.icon-home{
  font-size: 20px;
  position: relative;
  left:-20px; 
  top: 27px;
  text-align: right;
}
.icon-profile{
  font-size: 20px;
  position: relative;
  left:-55px; 
  top: 5px;
  text-align: right;
}

.icon-bar{
  font-size: 20px;
  position: relative;
  left:-90px; 
  top: -17px;
  text-align: right;
}
.icon-wallet{
  font-size: 20px;
  position: relative;
  left:-120px; 
  top: -40px;
  text-align: right;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 22px;
}
.search-header {
  display: flex;
}
.search-text {
  margin-right: 10px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-box {
  height: 25px;
}
#search-box[placeholder] {
  line-height: 25px;
  font-size: 25px;
}
#item-list {
  min-height: 260px;
}
section{
  padding: 0 100px;
  height: 100vh;
  display: flex;
  align-items: center;
}
.box{
 
  background-repeat: no-repeat;
  border-radius: 25px;
  position: relative;
  width: 50%;
  height: 50%;
  padding: 50px;
  background: rgba(255,255,255, .2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  opacity: 0.5;

}



/* .box{
  position: relative;
  max-width: 600px;
  padding: 50px;
  background: rgba(255,255,255, .2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
} */
.box h2{
 margin: 0 0 20px;
 padding: 0;
 font-size: 48px;
 text-transform: uppercase;
 color: #044463;
}

.box p{
  margin: 0;
  padding: 0;
  font-size: 48px;
  text-transform: uppercase;
  color: #044463;
}

h5{
  font-size: 20px;
  position: relative;
  left:-600px; 
  top: 360px;
  text-align: left;
  font-weight: bold;
}

.icon-download{
  font-size: 40px;
  position: relative;
  left:-670px; 
  top: 345px;
  text-align: left;
}
.icon-chart{
  font-size: 40px;
  position: relative;
  left: -600px; 
  top: 410px;
  text-align: center;
}
.icon-bitcoin{
  font-size: 200px;
  
}
.navbar{
  height: 80px;
  width: 100%;
  /* background: rgba(0,0,0,0.4); */
  background: black;
  opacity: 0.1;
}
.navbar ul{
  float: right;
  margin-right: 20px;

}
.navbar ul li{
  list-style: none; 
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;

}
.navbar ul li a{
  text-decoration:  none;
  color: yellowgreen;
  font-size:  25px;
  font-weight: bold;
  padding: 6px 13px;
  font-family: 'Roboto' , sans-serif;
  transition: 4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
  background: black;
  border-radius: 2px;
}







.logo{
    border-radius: 500px;
    height: auto; 
    width: auto; 
    max-width: 115px; 
    max-height: 115px;
    object-position: center top;
    position: relative;
    left: 20px;
    top: -2px;
}

.bitcoin{
  color:gold;
  left: 20px;
  top:13px;
  font-size: 50px;
  position: relative;

}


.form-field {
  position: relative;
  display: inline-block;
}

.icon-envelope {
  position: relative;
  left:2px; 
  top: 37px;


}
.icon-pass{
  position: relative;
  left:2px; 
  top: 37px;
}

.icon-chimp{
  position: relative;
  left:2px; 
  top: 37px;
  
}



.container{
  
  padding: 5%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
.sleepPG img {
position: relative;
left:750px;
top: 20px;
 height: 170px;
 width:  170px;
 border-radius: 60px;
 opacity: 0.5;

}
form{
border-style: none;
}

.search-bar{
  width: 100%;
  max-width: 700px;
  background: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
} 

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 25px;
  color: black;
}
::placeholder{
  color: black;


}

 .search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: gold;
  cursor: pointer;
  opacity: 0.5;

}
.pillow-img img {
  position: relative;
  margin-left: auto;
  top:-75px;
  left: 30px;
  height:65px;
  border-radius: 60px;
  opacity: 0.7;
}
.white-box{
  background-color: black; 
  position: absolute; 
  height: 60%; 
  width: 60%; 
  left: 20%; 
  top: 20%; 
  opacity: 0.3;
  border-radius: 60px;
}



 

.container-v2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}



button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.To-Content {
  background-color: black; 
  position: absolute; 
  height: 20%; 
  width: 60%; 
  left: 20%; 
  top: 50%; 
  opacity: 0.3;
  border-radius: 60px;
}

.To-Content input {
  background-color: black; 
  position: absolute; 
  height: 80%; 
  width: 80%; 
  left: 10%; 
  top: 10%; 
  font-size: 25px;
  color: purple;
  font-weight: bold;
 
  border-radius: 60px;
}